.response{
  width: auto;
  margin: 0;
  margin-bottom: 2%;
  padding: 2%;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: #f6f6f6;
}
.success{
  background-color: #83FE7A;
  border-color: #039400;
}

.error{
  background-color: #FEAD88;
  border-color: #B30100;
}
