.flex{
  display: flex;
}
.expand{
  height: 100%;
}
.flex-expand{
  flex-grow:2;
}
.full-screen{
  height: 100vh;
}
.column{
  flex-direction: column;
}
.v-align{
  align-items: center;
}
.h-align{
  justify-content: center;
}
.h-right{
  justify-content: flex-end;
}
.h-left{
  justify-content: flex-start;
}
